div, p, pre {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

#menu-bar {
    background-color:black;
    width:auto;
    height:calc(15px*10);
}

.menu-item {
    background-color: black;
    color:white;
}

.menu-item:hover {
    color:tan;
}

#menu-1 {
    position:relative;
    left:60%;
    top:15%;
}

#menu-2 {
    position:relative;
    top:15%;
    left:25%;
}

.goBackToMainPage {
    position:absolute;
    top:0px;
    left:0px;
}

#picture-of-myself {
    position:relative;
    left:45%;
    top:0px;
}

#about {
    position:relative;
    left:45%;
    top:0px;
}

#my-projects {
    position:relative;
    left:10%;
    top:-300px;
}


button {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    border: 0px solid white;
    background-color: white;
    color: green;
}

button:hover {
    color:purple;
    font-size: medium;
}


#fanfic-pic {
    position:relative;
    left:35%;
    top: 100px;
}
