.text {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.goBackToMainPage {
    position:absolute;
    top:0px;
    left:0px;
}

#picture-of-myself {
    position:relative;
    left:45%;
    top:0px;
}